# Configuración optimizada para RabbitMQ en producción

# Límites y rendimiento
vm_memory_high_watermark.relative = 0.7
disk_free_limit.absolute = 5GB
channel_max = 2000
connection_max = 3000
heartbeat = 60

# Clustering y HA (cuando se use más de un nodo)
# cluster_partition_handling = autoheal
# queue_master_locator = min-masters

# Plugins
management.tcp.port = 15672
