// This is your Prisma schema file,
// learn more about it in the docs: https://pris.ly/d/prisma-schema

generator client {
  provider = "prisma-client-js"
}

datasource db {
  provider = "sqlite" // Puedes cambiarlo a postgresql, mysql, etc. según necesites
  url      = "file:./dev.db" // Ubicación de la base de datos SQLite local
}

model Person {
  id   Int    @id @default(autoincrement())
  name String
}
