<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= nxProjectName %></title>
    <link rel="stylesheet" href="style.css"> </head>
<body>
    <h1>Hello World from <%= nxProjectName %>!</h1>
    <p>Project: <strong><%= projectName %></strong></p>
    <p>App Component: <strong><%= appName %></strong></p>
    <p>Access at: <a href="https://<%= domain %>">https://<%= domain %></a></p>

    </body>
</html>
