{
  "extends": "../tsconfig.json",
  "compilerOptions": {
    "module": "commonjs",
    "target": "es2022",
    "outDir": "../../../dist/compiled/<%=workerName%>",
    "sourceMap": true,
    "types": ["node", "jest"],
    "noImplicitAny": false,
    "skipLibCheck": true
  },
  "exclude": ["node_modules", "tmp", "**/*.spec.ts"],
  "include": ["**/*.ts"]
}
