{
  "extends": "../tsconfig.json",
  "compilerOptions": {
    "module": "commonjs",
    "target": "es2022",
    "outDir": "../../../dist/apps/<%=projectName%>/<%=workerName%>",
    "types": ["node", "jest"]
  },
  "exclude": ["node_modules", "tmp", "**/*.spec.ts"],
  "include": ["**/*.ts"]
}
