#!/bin/sh

src_pattern="$1"
dest="$2"

# Verificar si el patrón coincide con algún archivo
if ls $src_pattern 1> /dev/null 2>&1; then
  echo "Copiando $src_pattern a $dest"
  mkdir -p "$dest"
  cp -r $src_pattern "$dest"
else
  echo "Warning: No se encontraron archivos que coincidan con $src_pattern, omitiendo"
fi
